extends layoutMaster

block content

  section(id="service").home-section.color-dark.bg-gray
    .row
      div.text-center
        .container
          div.row.animatedParent
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft
                div.service-box
                  div.service-icon
                    span.fa.fa-laptop.fa-2x
                  div.service-desc
                    h5 Web Design
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft.slow
                div.service-box
                  div.service-icon
                    span.fa.fa-camera.fa-2x
                  div.service-desc
                    h5 Photography
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft.slower
                div.service-box
                  div.service-icon
                    span.fa.fa-code.fa-2x
                  div.service-desc
                    h5 Graphic design
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
    .row
      div.text-center
        .container
          div.row.animatedParent
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft
                div.service-box
                  div.service-icon
                    span.fa.fa-laptop.fa-2x
                  div.service-desc
                    h5 Web Design
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft.slow
                div.service-box
                  div.service-icon
                    span.fa.fa-camera.fa-2x
                  div.service-desc
                    h5 Photography
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft.slower
                div.service-box
                  div.service-icon
                    span.fa.fa-code.fa-2x
                  div.service-desc
                    h5 Graphic design
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
