extends layoutMaster

block content

  section(id="dashboard").dashboard-section.color-dark.bg-gray
    .row
      div.text-center
        .container
          div.row.animatedParent
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft
                div.service-box
                  div.service-icon
                    span.icon-laboratory
                  div.service-desc
                    h5 Laboratorio
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft.slow
                div.service-box
                  div.service-icon
                    span.icon-dental
                  div.service-desc
                    h5 Odontologia
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft.slower
                div.service-box
                  div.service-icon
                    span.icon-neurology
                  div.service-desc
                    h5 Neurologia
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
    .row
      .text-center
        .container
          div.col-xs-12
            &nbsp;
    .row
      div.text-center
        .container
          div.row.animatedParent
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft
                div.service-box
                  div.service-icon
                    span.icon-labor-delivery
                  div.service-desc
                    h5 Labor de parto
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft.slow
                div.service-box
                  div.service-icon
                    span.icon-pediatrics
                  div.service-desc
                    h5 Pediatria
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
            div.col-xs-6.col-sm-4.col-md-4
              div.animated.rotateInDownLeft.slower
                div.service-box
                  div.service-icon
                    span.icon-womens-health
                  div.service-desc
                    h5 Salud de la mujer
                    div.divider-header
                    p
                      | Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
                    a(href="#").btn.btn-skin Ir
