extends layout

block content
  .container
    div.row
      div.col-md-12.section_header.thin
        h2= title
        div.subtitle.body-bg_section
          div.container
            p.uppercase We are a medical clinic
    div.row
      p
        | Our team strives to achieve excellence in every aspect of the production process, from the preliminary hand-drawn sketches to the aftersales support. We carefully design our themes to be easy and flexible while making sure that most FAQ of our customers can be answered by our detailed documentation.
        | We focus on using the latest web standards and practices regarding UX guidelines and WordPress theme development and strongly encourage our customers to follow us on this. The use of a child theme and the plugin-based development of ©Plethora Framework ensure hassle-free updates and peace of mind.
        | Personalized patient care is what sets California Pacific Medical Center apart. When you visit one of our four San Francisco campus locations you can expect to receive world class care. Expert physician specialists and caring clinical staff provide you with an exceptional health care experiene.
  .container
    div.row
      div.col-md-12.section_header.thin
        h2 DEPARTAMENTS
        p Each money may link to its own page
      div.col-md-3.col-sm-6.col-xs-6
        div.departament
          h4.secondary_section.transparent.transparent-film
            i.fa.fa-heart.secondary_section
            a(href="#") Cardiology
          a(href="#", style="background-image:url(http://localhost:3000/images/entry-001.jpg)", class="department_photo stretchy-wrapper ratio_1-1")
      div.col-md-3.col-sm-6.col-xs-6
        div.departament
          h4.secondary_section.transparent.transparent-film
            i.fa.fa-heart.secondary_section
            a(href="#") Cardiology
          a(href="#", style="background-image:url(entry-001.jpg)", class="department_photo stretchy-wrapper ratio_1-1")
      div.col-md-3.col-sm-6.col-xs-6
        div.departament
          h4.secondary_section.transparent.transparent-film
            i.fa.fa-heart.secondary_section
            a(href="#") Cardiology
          a(href="#", style="background-image:url(./images/entry-001.jpg)", class="department_photo stretchy-wrapper ratio_1-1")
      div.col-md-3.col-sm-6.col-xs-6
        div.departament
          h4.secondary_section.transparent.transparent-film
            i.fa.fa-heart.secondary_section
            a(href="#") Cardiology
          a(href="#", style="background-image:url(/images/entry-001.jpg)", class="department_photo stretchy-wrapper ratio_1-1")
  .container
    div.row
      div.col-md-12.section_header.thin
        h2 MEET OUR DEVOTED STAFF
        p Each money may link to its own page
      div.col-md-12.col-sm-12.col-xs-12
