doctype html
html
  head
    title= title
    script(type="text/javascript", src="../js/jquery-2.1.4.min.js")
    script(type="text/javascript", src="../js/creative.js")
    script(type="text/javascript", src="../js/wow.js")
    link(rel="stylesheet" href="../css/bootstrap.css")
    link(rel="stylesheet" href="../css/custom.css")
  body
    nav(id="mainNav").navbar.navbar-default.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                button(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1").navbar-toggle.collapsed
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="./").navbar-brand.page-scroll
                  | Healt Center
            div(id="bs-example-navbar-collapse-1").collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                      a(href="./about-us.html").page-scroll About
                    li
                      a(href="#services").page-scroll Services
                    li
                      a(href="#portfolio").page-scroll Portfolio
                    li
                      a(href="./contact.html").page-scroll Contact
    block content




    section(id="contact")
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2.text-center
             h2.section-heading Let's Get In Touch!
             hr.primary
             p Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
          div.col-lg-4.col-lg-offset-2.text-center
            i.fa.fa-phone.fa-3x.wow.bounceIn
            p 123-456-6789
          div.col-lg-4.text-center
            i(data-wow-delay=".1s").fa.fa-envelope-o.fa-3x.wow.bounceIn
            p
             a(href="mailto:your-email@your-domain.com") feedback@startbootstrap.com
