doctype html
html
  head
    title= title
    script(type="text/javascript", src="../js/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="../css/bootstrap.css")
    link(rel="stylesheet" href="../css/custom.css")
  body
    block header
      div.header
        div.mainbar.gradient.diagonal
          div.container
            div.logo
              a(href="./static/images/medicus-header-logo-x64.png", alt="logo")
              p(class="animated slideInLeft") Call us Toll free +30 1234-567-890
            div.menu_container
              nav
                ul(class="menu main_menu hover_menu")
                  li(class="active")
                    a(title="Home", href="./") HOME
                  li
                    a(title="ABOUT US", href="./about-us.html") ABOUT US
                  li
                    a(title="SERVICES", href="./services.html") SERVICES
                  li
                    a(title="HEALTH PLANS", href="./health-plans.html") HEALTH PLANS
                  li
                    a(title="News", href="./blog.html") NEWS
                  li
                    a(title="CONTACT", href="./contact.html") CONTACT
                  li.lihasdropdown.two-column.drop-left
                    a(title="more", href="#") More
    block content

    block footer
      footer
        .container
          div.copyright.secondary_section
            div.col-sd-6.col-md-6
              | Copyright &copy; 2015
            div.col-sd-6.col-md-6.text-right
              | Issues? Submit to&nbsp;
              a(href="http://twitter.com/dav_vd") @dav_vd
