doctype html
html
  head
    title= title
    script(type="text/javascript", src="../js/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="../css/bootstrap.css")
  body
    #wrap
      .container
        h1.page-header= title
        p.lead  Welcome to Healt Center Experience
      block page
      block header
      block content
    block footer
      footer
        .container
          p
            | Copyright &copy; 2014 | Issues? Submit to
            a(href="http://twitter.com/dav_vd") @dav_vd
            | .
