doctype html
html
  head
    title= title
    link(rel="stylesheet" href="../css/bootstrap.min.css")
    link(rel="stylesheet" href="../css/style.css")
    link(rel="stylesheet" href="../color/default.css")
    link(rel="stylesheet" href="../css/animations.css")
    link(rel="stylesheet" href="../font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="../css/nivo-lightbox.css")
    link(rel="stylesheet" href="../css/nivo-lightbox-theme/default/default.css")


  body
    div(id="navigation")
      nav(role="navigation").navbar.navbar-custom
        .container
          .row
            div.col-md-2
              div.site-logo
                a(href="./").brand Healt Center
            div.col-md-10
              div.navbar-header
                button(type="button" data-toggle="collapse" data-target="#menu").navbar-toggle
                  i.fa.fa-bars
              div(id="menu").collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li.active
                    a(href="#intro") Home
                  li
                    a(href="#about") Usuarios
                  li
                    a(href="#service") Catalogos
                  li
                    a(href="#works") Herramientas
                  li
                    a(href="./contact.html") Logout

    block content

    footer
      .container
        .row
          div.col-md-6
            ul.footer-menu
              li
                a(href="#") Home
              li
                a(href="#") Press release
          div.col-md-6.text-right
            p
              | &copy;Copyright 2015 - Heal Center. Designed by
              a(href="http://bootstraptaste.com">Bootstraptaste)

script(type="text/javascript", src="../js/jquery-2.1.4.min.js")
script(src="../js/jquery.sticky.js")
script(src="../js/jquery.easing.min.js")
script(src="../js/jquery.scrollTo.js")
script(src="../js/jquery.appear.js")
script(src="../js/stellar.js")
script(src="../js/nivo-lightbox.min.js")
script(src="../js/custom.js")
script(src="../js/css3-animate-it.js")
