doctype html
html
  head
    title= title
    script(type="text/javascript", src="../js/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="../css/bootstrap.css")
    link(rel="stylesheet" href="../css/custom.css")
  body
    #wrap
      .container
        h1.page-header= title
        p.lead  Welcome to Healt Center Experience
      block page
      block header
      block content
    block footer
      footer
        .container
          div.copyright.secondary_section
            div.col-sd-6.col-md-6
              | Copyright &copy; 2015
            div.col-sd-6.col-md-6.text-right
              | Issues? Submit to&nbsp;
              a(href="http://twitter.com/dav_vd") @dav_vd
