footer {
  background-color: #232323;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-overflow-scrolling: touch;
  padding-top: 55px;
  padding-bottom: 25px;
  position: relative;
}
footer a:link,
footer a:visited {
  color: #f8eb80;
}
footer a:hover,
footer a:active {
  color: #fcf6c9;
}
.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.secondary_section
{
  background-color: #808897;
  color: #ffffff;
}
